<div class="container">
    <form style="background-color: white;border: 1px solid white;border-right: 20px solid white;">
        <div class="row">
            <div class="col order-last">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tipo de platillo</label>
                    <select [value]="typeDish" [(ngModel)]="typeDish" name="typeDish" id="exampleFormControlSelect1"
                        class="form-control">
                        <option>Entradas</option>
                        <option>Ensaladas</option>
                        <option>Órdenes</option>
                        <option>Ceviches</option>
                        <option>Sopas</option>
                        <option>Mariscadas</option>
                        <option>Pulpo</option>
                        <option>Camarones</option>
                        <option>Filetes</option>
                        <option>Postres</option>
                        <option>Bebidas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Descripcion</label>
                    <textarea [value]="desDish" [(ngModel)]="desDish" name="desDish" class="form-control"
                        rows="3"></textarea>
                </div>
                <div class="form-group">
                    <div>List of users</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Platillo</th>
                                <th scope="col">Imagen</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let dish of dishList; let i =index">
                            <tr (click)="preUpdate(dish)">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{dish.name}}</td>
                                <td><img width="50px" height="50px" src="{{dish.image}}" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del platillo</label>
                        <input [value]="nameDish" [(ngModel)]="nameDish" name="nameDish" type="text"
                            class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio</label>
                        <input [value]="priceDish" [(ngModel)]="priceDish" name="priceDish" type="number"
                            class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)"
                            class="form-control-file">
                        <img [src]="imageUrl" style="width:250px;height:200px">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" *ngIf="btnSave==true" (click)="addDish()">Añadir</button>
                    </div>
                    <div class="form-group" *ngIf="btnUpdate==true">
                        <button class="btn btn-success" (click)="Update()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>