.contenedor-principal-platillos {
  margin-top: 5%;
  margin-left: 10%;
}

.opcion {
  border-style: groove;
}

.size {
  height: 200px;
  margin-right: 5%;
}
.TodosPlatillos{
    margin-top: 4%;
}
.img{
    width: 177px;
}
.comprar{
    margin-left: 77%;
}
