<div class="container-fluid " >
    <!-- <div class="row text-center contenedor-principal-platillos">

        <div class="col-3 opcion size" href="#abajo"  >
            <div  style="margin-top: 30%;">
                <h5 >Platillos calientes</h5>
            </div>
        </div>

        <div class="col-3 opcion size">
            <div style="margin-top: 30%;">
                <h5>Platillos frios</h5>
            </div>
        </div>

        <div class="col-3 opcion ">
            <div style="margin-top: 30%;">
                <h5>Bebidas</h5>
            </div>
        </div>
    </div> -->

</div>
<div class="container-fluid TodosPlatillos"  >
    <div class="row text-center ">



        <div class="col">
            <h3>Todos los platillos</h3>
        </div>

    </div>
    <hr width="50%" />

    <div class="container-fluid card">
        <div class="card-body">

            <div class="card mb-3">
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenmenu3.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body row">
                            <h5 class="card-title col-12">Callitos</h5>
                            <p class="card-text col-12">Muy buenos.</p>
                            
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Actualizar</button> <button
                                    type="button" class="btn btn-outline-danger">Eliminar</button> </p>
                        
                        </div>
                    </div>

                </div>
            </div>


            <div class="card mb-3" >
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenes menu/carnita frijoles.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Comprar</button></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3">
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenes menu/gordo6.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Comprar</button></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3">
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenes menu/gordo7.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Comprar</button></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3">
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenes menu/gordo9.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Comprar</button></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3" name="abajo">
                <div class="row ">
                    <div class="col-2">
                        <img src="../../../../assets/Imagenes menu/gordo10.jpg" class="img">
                    </div>
                    <div class="col-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text col-12"><small class="text-muted">Last updated 3 mins ago</small><button
                                    type="button" class="btn btn-success comprar">Comprar</button></p>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>