<div class="container-fluid ">
    <div class="row text-center contenedor-principal-platillos">

        <div class="col-3 opcion size" routerLink="/addDish">
            <div style="margin-top: 30%;">
                <h5> ABC Platillos/Bebidas </h5>
            </div>
        </div>

        <div class="col-3 opcion size" routerLink="/addUser">
            <div style="margin-top: 30%;">
                <h5>ABC Usuarios/Clientes</h5>
            </div>
        </div>

        <div class="col-3 opcion" routerLink="/Reportes">
            <div style="margin-top: 30%;">
                <h5>Reportes</h5>
            </div>
        </div>
    </div>

</div>

