<div class="col text-center container-fluid"><img src="../../../../assets/Logo.png" class="logo-home" routerLink="home">


  <nav class="navbar navbar-expand-lg navbar-light  text-center row container-fluid contenedorMenuP">

    <button class="navbar-toggler col" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center row" id="navbarNav">
      <ul class="navbar-nav col">
        <li class="nav-item Active col">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item col">
          <a class="nav-link" routerLink="dishesUser">Platillos</a>
        </li>
        <li class="nav-item col">
          <a href="#myModal" role="button" class=" nav-link" data-toggle="modal">Iniciar sesión</a>
        </li>
        <li class="nav-item col">
          <a routerLink="Adminprincipal" role="button" class=" nav-link" data-toggle="modal">Administrador</a>
        </li>

        <li class="nav-item col">
          <a routerLink="car-shop" role="button" class=" nav-link" data-toggle="modal">Carrito</a>
        </li>


      </ul>
    </div>
  </nav>




  <!-- Inicio de sesión -->
  <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header text-center">
          <div class="jumbtron ">
            <h1 class="display-4 ">Iniciar Sesión</h1>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body ">

          <!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col">
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="ejemplo@ejemplo.com" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" name="pwd" [(ngModel)]="pwd" class="form-control" id="exampleInputPassword1" placeholder="**********" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>

        </form> -->

          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="center-text col-12-lg">
            <div class="input-group mb-2">
              <div class="input-group-prepend col-1-xs">
                <i class="fa fa-user input-group-text " aria-hidden="true"></i>
              </div>
              <input type="email" name="Email" #Email="ngModel" [(ngModel)]="userLogin.Email"
                class="form-control margB col" placeholder="Email" required>
              <span *ngIf="!Email.valid&& Email.touched">El email es obligatorio</span>
            </div>


            <div class="input-group mb-2">
              <div class="input-group-prepend col-1-xs">
                <i class="fa fa-key input-group-text" aria-hidden="true"></i>
              </div>
              <input name="Contrasena" #Contrasena="ngModel" [(ngModel)]="userLogin.Contrasena"
                class="form-control margB col" type="password" placeholder="Contraseña" required>
            </div>
            <span *ngIf="!Contrasena.valid && Contrasena.touched" class="invalid"> Este campo es requerido</span>

            <div class="row">
              <button href="#myModal1" type="button" class="btn btn-success col"
                data-toggle="modal">Registrarse</button>
              &nbsp;
              <button type="submit" class="btn btn-primary col" id="login-button">Iniciar sesión</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <!-- Registrarse -->

  <div id="myModal1" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <div class="jumbtron ">
            <h1 class="display-4 ">Registro</h1>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">

          <form #contactForm="ngForm" (ngSubmit)="Guardar(contactForm)">

            <div class="row">
              <!-- Nombre -->
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-user input-group-text" aria-hidden="true"
                      [ngStyle]="{'color':Nombre.invalid && (Nombre.dirty || Nombre.touched) ? 'red': (Nombre.valid ? '#5cb85c':null )}">
                    </i>
                  </div>
                  <input type="text" name="Nombre" #Nombre="ngModel" [(ngModel)]="user.Nombre"
                    class="form-control margB" placeholder="Nombre" required
                    [ngStyle]="{'color':Nombre.invalid && (Nombre.dirty || Nombre.touched) ? 'red': (Nombre.valid ? '#5cb85c':null )}">

                </div>

                <span *ngIf="!Nombre.valid && Nombre.touched" class="invalid"> Este campo es requerido</span>
              </div>
              <!-- Apellido -->
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-user input-group-text" aria-hidden="true"
                      [ngStyle]="{'color':Apellido.invalid && (Apellido.dirty || Apellido.touched) ? 'red': (Apellido.valid ? '#5cb85c':null )}"></i>
                  </div>
                  <input type="text" name="Apellido" #Apellido="ngModel" [(ngModel)]="user.Apellido"
                    class="form-control margB" placeholder="Apellido" required>

                </div>
                <span *ngIf="!Apellido.valid && Apellido.touched" class="invalid"> Este campo es requerido</span>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-envelope input-group-text" aria-hidden="true"></i>
                  </div>
                  <input name="Email" #Email="ngModel" [(ngModel)]="user.Email" class="form-control margB" type="email"
                    placeholder="Email" required>

                </div>
                <span *ngIf="!Email.valid && Email.touched" class="invalid"> Este campo es requerido</span>
              </div>
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-key input-group-text" aria-hidden="true"></i>
                  </div>
                  <input name="Contrasena" #Contrasena="ngModel" [(ngModel)]="user.Password"
                    class="form-control margB" type="password" placeholder="Contraseña" required>

                </div>
                <span *ngIf="!Contrasena.valid && Contrasena.touched" class="invalid"> Este campo es
                  requerido</span>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-id-card input-group-text" aria-hidden="true"></i>
                  </div>
                  <input name="Edad" #Edad="ngModel" [(ngModel)]="user.Edad" class="form-control margB" type="number"
                    placeholder="Edad" required>

                </div>
                <span *ngIf="!Edad.valid && Edad.touched" class="invalid"> Este campo es requerido</span>
              </div>
              <div class="col">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <i class="fa fa-phone input-group-text" aria-hidden="true"></i>
                  </div>
                  <input name="Telefono" #Telefono="ngModel" [(ngModel)]="user.Telefono" class="form-control margB"
                    type="text" placeholder="Telefono" required>

                </div>
                <span *ngIf="!Telefono.valid && Telefono.touched" class="invalid"> Este campo es requerido</span>
              </div>
            </div>






            <div class="modal-footer">
              <button type="button" class="btn btn-secondary col" data-dismiss="modal">Cancelar</button>
              <button [disabled]="!contactForm.form.valid" type="submit"
                class="btn btn-primary col">Registrarse</button>
            </div>

          </form>
        </div>


      </div>
    </div>
  </div>
  

