.logo-home{
    width: 148px;
}
.contenedorMenuP{
    background: #4DB8FF;
    margin:0%;
}
.modal-header{
    background: #4DB8FF;
    margin: 0%;
}
.modal-content{
    margin: 0%;
    border: 0px;
}
.modal-dialog{
    margin-top: 10%;
}

.form-control.login-user {
    border: 0px solid #fff !important;
  }
  .invalid{
    color: red;
  }
  .input-group-text{
    background: transparent;
    border: none;
  }

.margB{
    border-top: none;
    border-left: none;
    border-right: none;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }