.container {
  background-color: #f9f9f9;
}

span {
  display: block;
}

h2 {
  color: #1aa377;

  position: relative;
  text-align: center;
}

.items {
  padding-left: 20px;
  padding-right: 20px;
  /* font-size: 15px; */
  color: #8b8e8d;

}

.item p {
  position: relative;
  display: inline-block;
}

.item span {

  position: relative;
  display: inline-block;
  float: right;
  padding-top: 16px;
}


.item {
  border-bottom: 1px solid #c9c9c9;
}

.noline {
  border-bottom: none;
}

.total {
  background-color: #ededed;
}

.total {
  padding: 10px 20px 10px 20px;
  font-size: 17px;
  color: #48b9a0;
}

.comprar {
  background-color: #1aa377;
  color: #ededed;
  text-align: center;
  padding: 35px;
  border: none;
}

.cancelar {
  background-color: #a31f1a;
  color: #ededed;
  text-align: center;
  padding: 35px;
  border: none;
}


.totalText {

  padding: 3px 3px 3px 3px;
  display: inline-block;
}

.totalVal {
  padding: 3px 3px 3px 3px;
  float: right;
}

.upperItems {
  display: block;
  padding: 0px 0px 10px 10px;
  text-align: center;
}

.staple {
  height: 6px;
  width: 50px;
  display: inline-block;
  position: relative;

  border-left: 4px solid #dbdbdb;
  border-right: 4px solid #dbdbdb;
  border-top: 5px solid #dbdbdb;

}


.pagefold {
  height: 0px;
  width: 0px;
  display: inline-block;
  background-color: #1aa377;
  position: relative;
  float: right;
  border-left: 25px solid #f2f2f2;
  border-bottom: 25px solid #f2f2f2;
  border-right: 25px solid #e2e2e2;
  border-top: 25px solid #e2e2e2;
}
