<div class="content-fluid" style="padding: 0%;">
    <div class="card shadow" style="width: 50%; margin-left: 25%; margin-top: 10%; padding: 1%;">

        <h2 class="title text-center" *ngIf="carrito.length>0;"> Tu carrito tiene ({{carrito.length}}) producto(s)</h2>

        <div *ngIf="carrito.length>0;else carritovaciotmpl">
            <table style=" width: 100%;">
                <thead class="text-center">
                    <tr>
                        <td>Ctdad.</td>
                        <td>Producto</td>
                        <td>Precio</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of carrito" class="text-center">
                        <td class="has-text-centered text-center">
                            <span>1</span>
                        </td>
                        <td>{{item.titulo}}</td>
                        <td>$ {{item.precio}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="carrito-total">
                        <td colspan="2"></td>
                        <td class="text-center" style="margin-left: 10%;">
                            Total: ${{total}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <ng-template #carritovaciotmpl class="">
            <div class="margin-top-20 text-center">
                <strong>El carrito esta vacío.</strong>
            </div>
        </ng-template>

        <button class="btn btn-primary" *ngIf="carrito.length>0;" data-toggle="modal"
            data-target="#exampleModalLong">Comprar</button>
    </div>
</div>
<!--  -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 0%; border:0px;">

            <div class="modal-body" style="margin:0px; padding: 0px; border: 0px;">
                <div class="container" style="margin:0px; padding: 0px; border: 0px;">
                    <div class="upperItems">
                        <span class="staple"> </span>
                        <span class="pagefold"><span aria-hidden="true" data-dismiss="modal" aria-label="Close"
                                type="button">&times;</span></span>

                    </div>
                    <div class="row" style="margin-left: 0%;">
                        <div class="col-9" style="margin-top: 10%;">
                            <h2>Mariscos el gordo </h2>
                        </div>
                        <div class="col"><img src="../../../../assets/Logo.png" style="width: 80px;"></div>
                    </div>

                    <div *ngIf="carrito.length>0;else carritovaciotmpl">
                        <table style=" width: 100%;">
                            <thead class="text-center">
                                <tr>
                                    <td>Cantidad</td>
                                    <td>Producto</td>
                                    <td>Precio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of carrito" class="text-center">
                                    <td class="has-text-centered text-center">
                                        <span>1</span>
                                    </td>
                                    <td>{{item.titulo}}</td>
                                    <td>$ {{item.precio}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="carrito-total" style="margin-top: 10px;">
                                    <td colspan="2"></td>
                                    <td class="text-center" style="margin-left: 10%;margin-top: 10px;">
                                        Total: ${{total}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row">
                            <div class="col">
                                <div class="comprar">

                                    <i class="fa fa-print"></i>
                                    Comprar


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>