<nav class="navbar navbar-dark bg-dark"><br>  <br>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="buscar" placeholder="Buscar usuario" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </nav>
<br>
<body>
<div class="container">
  <form>
     
    <div class=" row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Correo">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" placeholder="Edad">
      </div>
      <!--  -->

      <div class="col">
        <input type="password" class="form-control" placeholder="Contraseña">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Celular ">
      </div>
    </div><br>
    <td> <button type="button" class="btn btn-primary">Guardar cambios</button></td>
    <br><br>

        
      
      <table class="table table-striped table-dark">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Celular</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Jose</td>
            <td>Antonio</td>
            <td>jose@gmail.com</td>
            <td>50</td>
            <td>123</td>
            <td>6441541790</td>
            <td> <button type="button" class="btn btn-success">Actualizar</button></td>
            <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ruben</td>
            <td>Garcia</td>
            <td>ruben@gmail.com</td>
            <td>45</td>
            <td>123</td>
            <td>6441541790</td>
            <td> <button type="button" class="btn btn-success">Actualizar</button></td>
            <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>



    
  </form>
</div>
</body>
