<div class=" container-fluid " style="padding: 0%;margin-top: 4%;">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center ">Menú del día</h1>
      <p class="lead text-center">En el mar la vida es mas sabrosa </p>
    </div>
  </div>
  <div class="row -fluid" style="padding: 0%;background: rgba(128, 128, 128, 0.493);">

    <div class="card message shadow"
      style="width: 30%; margin-right: 1.8%;margin-left: 1.5%; margin-bottom: 2%; margin-top: 2%;"
      *ngFor="let producto of productos">
      <img src="../../../../assets/Imagenmenu3.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title message-body">{{producto.titulo}}</h5>
        <p class="card-text message-body">{{producto.descripcion}}</p>
        <p class="card-text message-body">Precio: {{producto.precio}} $</p>
        <button (click)="addProducto(producto)" class="button is-info btn btn-primary" style="margin-left: 52%;">Añadir
          al carrito</button>
      </div>
    </div>

  </div>

</div>





<!-- <div class="modal-body">

        <form #form="ngForm" autocomplete="off">
          <!-- Nombre & Apellido --
          <div class="form-grup row fromsize">
            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-user" [class.green-icon]="Nombre.valid"
                  [class.red-icon]="Nombre.invalid && Nombre.touched"></i>
              </div>

              <input name="Nombre" #Nombre="ngModel" [(ngModel)]="service.Nombre" class="form-control"
                placeholder="Nombre" required minlength="5" maxlength="30"  >

            </div>

            <div class="input-group-prepend col">


              <input name="Apellido" #Apellido="ngModel" [(ngModel)]="service.Apellido" class="form-control"
                placeholder="Apellido" minlength="5" required maxlength="30">

            </div>
          </div>
          <!-- End Nombre & Apellido --

          <!-- Telefono & Email --
          <div class="form-grup row fromsize">
            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
              </div>

              <input name="Telefono" #Telefono="ngModel" [(ngModel)]="service.Telefono" class="form-control"
                placeholder="Telefono" minlength="10" required maxlength="10">

            </div>

            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>

              <input name="Email" #Email="ngModel" [(ngModel)]="service.Email" class="form-control" placeholder="Correo electrónico">

            </div>
          </div>
          <!-- End Telefono & Email --

          <!-- Password & Conf Password --
          <div class="form-grup row fromsize">
            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>

              <input type="password" name="Password" #Password="ngModel" [(ngModel)]="service.Password"
                class="form-control" placeholder="Contraseña">

            </div>

            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>

              <input type="password" name="Confpassword" #Confpassword="ngModel" [(ngModel)]="service.Confpassword"
                class="form-control" placeholder="Confirmar Contraseña">

            </div>
          </div>
          <!-- Contraseña & Conf Contraseña --
          <!-- Edad --
          <div class="form-grup row fromsize">
            <div class="input-group-prepend col">

              <div class="input-group-text bg-white">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>

              <input name="Edad" #Edad="ngModel" [(ngModel)]="service.Edad" class="form-control" placeholder="Edad">

            </div>

          </div>
          <!-- End Edad --


        </form>

      </div> -->